@{

    var baseurl = string.Format("{0}://{1}{2}",
                    HttpContext.Current.Request.Url.Scheme,
                    HttpContext.Current.Request.ServerVariables["HTTP_HOST"],
                    (HttpContext.Current.Request.ApplicationPath.Equals("/")) ? string.Empty : HttpContext.Current.Request.ApplicationPath
                    );
}

<!DOCTYPE html>
<html>
<head>
   
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- For dropdown select -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>


    <!-- for DatePicker bootstrap-->
    <script type="text/javascript" src="@baseurl/scripts/moment.min.js"></script>
    <script type="text/javascript" src="@baseurl/scripts/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="@baseurl/Content/bootstrap-datetimepicker.css" />

    <!-- additional custom styles -->
    <link rel="stylesheet" href="@baseurl/resources/mystyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="@baseurl/resources/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="print" href="@baseurl/resources/print.css">
    <link rel="stylesheet" type="text/css" media="screen" href="@baseurl/resources/screen.css">

    

</head>
<body>

   

   
           
        

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-md-2 sidebar">

                        
                        <div class="row">
                            <img src="~/Img/logo.jpg" class="img-rounded img-responsive" alt="Cinque Terre" width="350" height="236" >
                        </div>





                        <div class="row">

                            <div class="list-group">
                            <ul id="nav" class="nav nav-sidebar ">
                                <li id="menu4" class="list-group-item"><a href="@baseurl/Items/Index">eliveries</a></li>
                                <li id="menu5" class="list-group-item"><a href="@baseurl/Items/Edit">View Inventory</a></li>
                                <li id="menu6" class="list-group-item"><a href="@baseurl/Store/SupplierList">Supplier List</a></li>
                                <li>@baseurl</li>
                            </ul>
                            </div>

                        </div>

                          

                    </div>
                    <div class="col-lg-10 main">

                        <div class="row">
                            <nav class="navbar bg-primary">

                                <div class="container-fluid" style="height: 100%">
                                    <div class="navbar-header">

                                        <p class="navbar-brand text-white">Welcome to Logic University Stationary Port</p>

                                        <div class="collapse navbar-collapse" id="myNavbar">

                                            <ul class="nav navbar-nav navbar-right">

                                                @if (Page.Employee != null)
                                                {
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@Page.Employee.EmployeeName <span class="caret"></span></a>

                                                        <ul class="dropdown-menu">

                                                            <li><a href="@baseurl/Auth/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                                                        </ul>
                                                    </li>


                                                }
                                                else
                                                {
                                                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                            </nav>
                            @*<div class="span4">...</div>
                            <div class="span8">...</div>*@
                        </div>
                        

                        @*<nav class="navbar col-lg-10 navbar-right bg-primary navbar-fixed-top t7-card-4 ">*@

                        <div class="row">


                            <h1 class="page-header">
                                @Page.Title
                            </h1>

                            <h2 class="sub-header" id="sectiontitle">@Page.Subtitle</h2>

                            <div id="mainbody" class="container-fluid">

                                @RenderBody()

                            </div>

                         </div>



                        </div>
                </div>
               
                
                
                
                
                 <div class="row">
                   
                    
                    
                     <div class="col-lg-12">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            @*<script>
                    $(function () {
                        var current = location.pathname;
                        console.log(current);
                        $('#nav li a').each(function () {
                            var $this = $(this);
                            // if the current path is like this link, make it active
                            if ($this.attr('href').indexOf(current) !== -1) {
                                console.log($this.outerHtml);
                                $this.parent().addClass('active selected');
                            }
                        })
                    })
                </script>*@

            <script type="text/javascript">

                //$(document).ready(function ($) {
                //    $(".clickable-row").click(function () {
                //        window.document.location = $(this).data("href");
                //    })
                //    .hover(function () {
                //        $(this).css('background-color', '#ccc');
                //    }, function () {
                //        $(this).css('background-color', '#fff');
                //    });
                //})
            </script>
</body>
</html>